*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0 0 20px 0;
    min-height: calc(100vh - 20px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-family: 'Titillium Web', sans-serif;
    color: rgb(80, 80, 80);
}

h2 {
    color: rgb(50, 50, 50);
    font-size: 1.2em;
    text-transform: uppercase;
}

.header {
    margin-top: 50px;
}

.container {
    margin: 0 auto;
    display: flex;
    width: 100%;
    max-width: 940px;
    justify-content: space-between;
}

.my-avatar {
    max-width: 230px;
    height: auto;
    position: relative;
    overflow: hidden;
}
#my-avatar {
    display: block;
    margin: 0 auto;
    height: auto;
    width: 230px;
    height: 230px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.my-info-wrapper {
    width: 72%;
    display: flex;
    align-items: center;
}
.my-info {
    display: inline;
    vertical-align: middle;
    margin-left: 50px;
}
.my-info>h1 {
    font-size: 3em;
    font-weight: 900;
    color: rgb(20, 20, 20);
}
.my-info>span {
    font-size: 1.695em;
    font-weight: 400;
    color: rgb(90, 90, 90);
}

.navbar {
    margin-top: 40px;
    margin-bottom: 20px;
    width: 100%;
}
.navbar ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}
.navbar ul li {
    padding: 5px;
    text-transform: uppercase;
}
.navbar ul li::after {
    content: '';
    width: 0%;
    height: 4px;
    background: linear-gradient(90deg, rgba(227,233,255,0) 0%, rgba(150,255,213,1) 50%, rgba(227,233,255,0) 100%);
    display: block;
    margin: auto;
    transition: 0.3s;
}
.navbar ul li:hover::after {
    width: 100%;
}
.navbar-link {
    color: rgb(80, 80, 80);
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}
.navbar-link:hover {
    color: rgb(75, 255, 183);
    text-indent: 7px;
}


.vertical-line {
    margin: 0 auto;
    width: 95%;
    height: 2px;
    background-color: rgb(80, 80, 80);
}

main {
    margin-top: 30px;
    flex: 1 1 auto;
}

.container-left {
    width: 25%;
}
.container-right {
    width: 72%;
}

.contact-info {
    padding-left: 20px;
}

.contact-item {
    display: table;
    align-items: center;
}
.contact-item img {
    display: inline;
    margin-right: 5px;
    width: 1.2em;
    vertical-align: bottom;
}
.contact-item span {
    margin-left: 20px;
}

.cv-item {
    margin-bottom: 20px;
}
.cv-item ul li {
    padding-left: 20px;
    list-style: none;
}
.cv-item p {
    text-indent: 10px;
    text-align: justify;
}
.cv-item a {
    color: rgb(80, 80, 80);
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}
.cv-item a:hover {
    color: rgb(75, 255, 183);
}


footer.container {
    justify-content: space-between;
}

footer.container img {
    width: 40px;
}

.github-link {
    display: table;
    align-items: center;
}
.github-link img {
    display: inline;
    margin-right: 5px;
    width: 1.2em;
    vertical-align: middle;
}
.github-link a {
    color: rgb(80, 80, 80);
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}
.github-link a:hover {
    color: rgb(75, 255, 183);
}

@media (max-width: 1200px) {
    .container {
        max-width: 878px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 80%;
    }

    .my-avatar {
        max-width: 100%;
    }
    .my-info {
        margin-left: 0;
    }
    .my-info-wrapper {
        width: 50%;
        justify-content: center;
    }
}

@media (max-width: 767px) {
    .container {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 100%;
        max-width: none;
    }
    .container-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        order: 2;
        width: 100%;
        margin: 0 auto;
        padding: 20px;
    }
    .container-right {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        padding: 10px;
    }
    .cv-item {
        width: 99%;
        margin: 0 auto;
    }
    .container-skills-tools {
        width: 100%;
        margin: 0 auto;
    }
    .my-avatar {
        max-width: none;
    }
    .my-info {
        margin-left: 0;
    }
    .my-info-wrapper {
        width: 100%;
        justify-content: center;
    }

    footer.container img {
        width: 20px;
    }
    footer.container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 2px;
    }
}

